@import "./mixins";

.login {
    @include gradientBG;
    display: flex;
    justify-content: center;

    .btn-container {
        position: relative;
        align-self: center;
    }

    .login-btn {
        font-family: 'lucida grande', tahoma, Verdana, Arial;
        font-size: 14px;
        background-color: rgba(250, 252, 255, 0.2);
        border: 1px solid black;
        border-radius: 12px;
        padding: 16px;
        -webkit-transition: background-color 2s linear;
        -moz-transition: background-color 2s linear;
        -ms-transition: background-color 2s linear;
        -o-transition: background-color 2s linear;
        transition: background-color 2s linear;

        &:hover {
            background-color: rgba(186, 210, 110, 0.9);
        }
    }
}